<div id="task-stats">
  <div class="row mt-4 mb-3">
    <div class="col-12">
      <div class="card border-primary">
        <div class="card-body bg-success bg-opacity-10">
          <h5 class="card-title"> Task Statistics</h5>
          <div class="row text-center">
            <div class="col-md-3">
              <div class="display-6"><%= @tasks.count %></div>
              <small>Total Tasks</small>
            </div>
            <div class="col-md-3">
              <div class="display-6 text-success"><%= @completed_tasks.count %></div>
              <small>Completed</small>
            </div>
            <div class="col-md-3">
              <div class="display-6 text-warning"><%= @incomplete_tasks.count %></div>
              <small>Incomplete</small>
            </div>
            <div class="col-md-3">
              <div class="display-6 text-primary">
                <%= @tasks.count > 0 ? (@completed_tasks.count.to_f / @tasks.count * 100).round : 0 %>%
              </div>
              <small>Completion Rate</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
